@charset "utf-8";
/*■■■■■■■■　共同设定 ■■■■■■■■*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,table,tr,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ul,ul li,input, dl, dd {  padding:0; margin:0; list-style-type:none;}
img,a img{border:0;margin:0;padding:0;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
a{text-decoration:none; color:#444;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
a:hover{text-decoration:none; }
.clear{clear:both;}
/* HTY Common Atom*/
.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;overflow:hidden;visibility:hidden;width:0;height:0;}
.clear-fix:after{content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.c_b{clear:both;}
textarea{resize:none; overflow:auto;}
/*■■■■■■■■　基本设定　■■■■■■■■*/
body{font-family:"微软雅黑"; font-size:12px; color:#535353; overflow-x:hidden; margin:0 auto;}
/*.theme_color{background:#00beaf;}
.theme_color1{background:#ee0062;}
.theme_color2{background:#222;}*/
.wl_1004{width:1004px; margin:0 auto; position:relative;}
/*-----------------  ■ common -------------------*/
.rollover:hover img{opacity:0.7; filter:alpha(opacity=70); -ms-filter:"alpha(opacity=70)"; -khtml-opacity:0.7; zoom:1;}
.main{width:1120px; margin:0 auto; position:relative;}


/*-----------------  ■ top -------------------*/
.top{ background:#fff; line-height:28px; background:#212226;}
.top01{ width:1004px; margin:0 auto; color:#999; font-size:14px;}


/*-----------------  ■ header -------------------*/
.header{width:100%; height:100px; position:relative; overflow:hidden;}
.header01{width:1004px; margin:0 auto;heig/ht:124px;}
.header .logo{float:left;}
.header .tel{float:right;font-size:15px; color:#3a3f47; padding-left:42px; background:url(../images/tel01.png) no-repeat left center; line-height:36px; margin-top:31px; letter-spacing:-1px;}
.header .tel .title{}
.header .tel .num{ font-size:30px; color:#323338; font-family:Arial;}

.header .liuyan{float:right; line-height:36px; height:36px; font-size:16px; color:#5a5a5a;padding-left:44px; background:url(../images/tel02.png) no-repeat left center; margin:32px 9px 0 34px;}
.header .liuyan a{ color:#5a5a5a;}
.header .liuyan a:hover{ color:#0256ac;}






/*------search-------*/
.isearch{float:right; width:30px; height:30px; margin:16px 0 0; position:relative;}
.isearch span{ display:block; height:30px;background:url(../images/search.png) center top no-repeat; }
/*.search01{float:right; width:202px; height:30px; background-color:#fff; border-radius:15px; margin-top:20px; border:1px solid #ccc;}
.search02{ float:left;}
.search02 input.search03{width:80px; font-size:12px; color:#333; height:30px; line-height:30px; margin-left:15px; border:none; outline:none; float:left;}
.search01 input.search04{width:18px; height:30px; float:right; background-image:url(../images/index_icon02.png); border:none; background-repeat:no-repeat; background-position:center; outline:none; background-color:#fff; cursor:pointer; margin-right:15px;}
.search05{float:left; width:74px; height:30px; line-height:30px; background-image:url(../images/index_icon01.png); background-repeat:no-repeat; background-position:59px 13px;}*/




.search01{ dis/play:none; posit/ion:absolute; to/p:30px; ri/ght:290px;  width:242px; height:39px; background:url(../images/ss01.png) repeat; z-index:999;}
.search02{ float:left;}
.search02 input.search03{  background:none;width:140px; padding-left:7px; font-size:14px; font-family:'微软雅黑'; height:43px; line-height:43px;  border:none; color:#9a9a9a; background:#fff; background:none;}
.search02 input.search04{ width:67px; font-size:15px; color:#fff; font-family:'微软雅黑'; height:43px; line-height:43px; border:none; border:0; background:#9c541a; cursor:pointer; text-align:center; background:url(../images/ss03.png) no-repeat center center; mar/gin-top:10px; marg/in-left:20px; margin-left:4px; border-left:#ebebeb solid 1px;}
.search05{ float:left; width:100px; padding:0 0 0 1px; line-hei/ght:47px;}

.search_btn{ pos/ition:absolute; to/p:30px; rig/ht:250px; cur/sor:pointer; }


.jslct{color:#5a5a5a; font-family:"Microsoft YaHei"; display:inline-block; zoom:1; font-size:14px; position:relative; cursor:default; line-height:43px; width:100px; background:url(../images/ss01.png) no-repeat 75px center; cursor:pointer;}
.jslct div.jslct_t {position:relative; padding-left:5px;z-index:2;*display:block!important;*display:inline;zoom:1;}
.jslct em {font-style:normal; display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#5a5a5a;}
.jslct dl, .jslct dl dd {padding:0;margin:0;list-style:none}
.jslct dl {background:#212226;position:absolute;top:43px;left:0;cursor:default; width:80px; padding:0; overflow:hidden;z-index:1;display:none; font-size:14px;}
.jslct dl dd { box-sizing:border-box;text-align:center;line-height:28px; border-/bottom:#ccc solid 1px; white-space:nowrap;cursor:pointer;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s; color:#fff;}
.jslct dl dd:hover {color:#fff; background:#d0111b;}
.jslct dl dd.hover {color:#fff; background:#d0111b;}



/*********nav*********/
.g_nav{ width:100%; z-index:999; background:#212226; position:relative;}
.g_nav01{height:50px;width:1004px; margin:0 auto;}
.g_nav01 table{ width:100%;}
.g_nav01 table tr td{text-align:center; height:50px; position:relative; line-height:50px; border-right:#212226 solid 1px;background:url(../images/nav04.jpg) repeat-x left bottom;}
.g_nav01 a{display:block; color:#fff; font-size:14px; position:relative;}
.g_nav01 td.ihome{background:url(../images/nav02.png) no-repeat center center; margin-right:1px; width:60px;}
.g_nav01 td.ihome:hover{background:url(../images/nav02.png) no-repeat center center;}
.g_nav01 td.ihome a{ font-size:0;}

.g_nav01 td:hover{background:url(../images/nav01.jpg) repeat-x left bottom;}
.g_nav01 a.now{ background:url(../images/nav01.jpg) repeat-x left bottom;}
.g_nav01 a span{font-size:12px; color:#baa58c;}
.g_nav01 table tr td .nav_tan{ display:none; width:100%; position:absolute; left:0; top:50px; padding:5px 0; background:url(../images/nav03.png) repeat;  z-index:100;}
.g_nav01 table tr td .nav_tan a{line-height:30px; height:30px; overflow:hidden; font-size:13px; padding:0 3%;}
.g_nav01 table tr td .nav_tan a:hover{ background:#d0111b;}
.g_nav02{ position:absolute; top:0; right:50%; margin-right:502px; width:1000px; background:url(../images/nav01.jpg) repeat-x; height:50px; z-index:8;}




/*********f_link*********/
.f_link{ border-top:#e5e5e5 solid 1px; border-bottom:#e5e5e5 solid 1px; padding:25px 0;}
.f_link01{ font-size:16px; color:#7d7d7d; width:1000px; margin:0 auto; line-height:28px;}
.f_link01 a{color:#7d7d7d;display: inline-block;word-break: break-all;word-wrap: break-word;text-overflow: ellipsis;}
.f_link01 a:hover{color:#000;}
.f_link01 span{ padding:0 21px; font-size:12px;}





/*********footer*********/
.footer{height:385px; background:#212226;}
.footer01{ width:1004px; margin:0 auto; padding-top:23px;}
.footer02{ line-height:40px; background:#28292c; text-align:center; padding:0 20px;}
.footer02 a{ font-size:14px; color:#666;}

.footer03{ float:left; width:455px; color:#c2c2c2; padding-top:22px;}
.footer04{ font-size:42px; font-we/ight:bold;}
.footer05{ font-size:14px; line-height:42px; height:56px; border-bottom:#46484b solid 1px; background:url(../images/f01.png) no-repeat 3px 10px; padding-left:32px;}
.footer06{ margin-top:28px; padding-left:34px; background:url(../images/f02.png) no-repeat 1px 0; font-weight:bold; font-size:14px; height:30px;}
.footer03 a{ color:#c2c2c2;}
.footer03 a:hover{ color:#fff;}
.footer07{ line-height:28px; padding:15px 0 0 5px;}

.footer08{ float:left; width:195px; font-size:16px; color:#c2c2c2; padding:23px 0 0 95px;}
.footer08 span{ font-size:23px; display:block; text-transform:uppercase; margin-bottom:4px;}
.footer08 img{ margin-top:20px;}

.footer09{ float:right; padding-top:24px; width:200px; font-size:16px; color:#c2c2c2; line-height:30px;}
.footer09 strong{ display:block; text-transform:uppercase; font-size:23px; font-weight:normal;}


.piaofu{ position:fixed; top:50%; left:50%; margin-left:600px; margin-top:240px; width:60px; hei/ght:120px; bor/der:#b7babe solid 1px; over/flow:hidden; z-index:99; cursor:pointer;}
.piaofu01{ position:relative; height:60px; over/flow:hidden;}
.piaofu02{ display:none; height:60px; overflow:hidden;}
.piaofu03{ display:none; position:absolute; bottom:-3px; left:-138px;}





















