@charset "utf-8";
/*-------------------------------   index 首页---------------------------------*/

/*-----首页 banner-----*/
.slideBox{ width:100%; height:400px; overflow:hidden; position:relative;}
.slideBox .hd{  overflow:hidden; position:absolute; right:0; bottom:20px; width:100%; z-index:1;}
.slideBox .hd ul{ overflow:hidden; zoom:1; flo/at:left; text-align:center; width:100%;}
.slideBox .hd ul li{ fl/oat:left; display:inline-block; width:12px; height:12px; margin:0 6px; border-radius:6px; text-align:center; background:#222; cursor:pointer; font-size:0;}
.slideBox .hd ul li.on{ background:#c81922; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;height:583px; }
.slideBox .bd li a{ display:block; height:400px;}
.slideBox .bd img{ width:450px; height:400px; display:block;  }
.slideBox .prev,
.slideBox .next{ position:absolute; left:50%; top:50%; margin-top:-30px; margin-left:-660px; width:60px; height:60px; background:url(../images/arrow_left.png) no-repeat; }
.slideBox .next{ left:auto; right:50%; margin-right:-660px; background:url(../images/arrow_right.png) no-repeat;}
.slideBox .prev:hover,
.slideBox .next:hover{opacity: .7;filter: alpha(opacity=70);-ms-filter: "alpha(opacity=70)";-khtml-opacity: .7;}
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }




/***********咨询热线***********/
.index_tel01{ height:255px; width:1004px; margin:0 auto;}
.index_tel02{ padding:183px 0 0 678px; color:#fff; font-size:18px; font-family:'宋体'; line-height:24px;}
.index_tel02 span{ display:block; font-size:20px; font-weight:bold; color:#fff; font-family:Arial; letter-spacing:-0.04rem;}


/***********公告一行***********/
.notice{}
.notice01{ width:1002px; margin:24px auto 0; height:58px; background:#fff; border:#e7e7e7 solid 1px;}
.notice02{ float:left; line-height:58px; font-size:16px; color:#313136; background:url(../images/no01.jpg) no-repeat 18px center; padding-left:54px; width:915px; overflow:hidden; height:58px}
.notice02 span{ color:#3a3e45; font-size:14px;}
.notice03{ float:right; height:32px; width:284px; background:#2b2b2b; margin-top:4px;}

.index_sousuo{ position:absolute; top:30px; right:0; border:#ebebeb solid 1px; height:43px;}



/* 品牌滚动*/
.partFourM{width: 1004px;height: 306px; padding-top:35px;}
.left{ width:17px; height:101px; float:left; margin-top:77px; background:url(../images/jj01.jpg) no-repeat;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.left:hover{ background:url(../images/jj01_on.jpg) no-repeat;}
.right{ width:17px; height:101px; margin-left:19px; text-align:right; float:left; margin-top:77px; background:url(../images/jj02.jpg) no-repeat;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.right:hover{ background:url(../images/jj02_on.jpg) no-repeat;}
.partFourCon{width: 1004px;float: left;overflow: hidden;height: 306px;position: relative;}
.pro li{float: left; overflow: hidden; margin-right:30px; background:#fff; display: inline;position: relative;width:323px; height:306px; background:#1d1b1c;}




/**********************/
.all_tit{ overflow:hidden;}
.all_tit01{ float:left; width:6px; height:66px; background:#212226; overflow:hidden; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px;border-radius:2px;}
.all_tit02{ float:left; padding:0 0 0 16px; font-size:14px; color:#6b6b6b; line-height:20px;}
.all_tit02 span{ display:block; font-size:26px; color:#313136; padding:0 0 10px;}
.all_tit03{ height:46px;}




/***********工作服定做***********/
.index_gzf{ padding:35px 0;}
.index_gzf01{ width:1004px; margin:0 auto; position:relative;}
.index_gzf02{ padding-top:35px; width:103%; overflow:hidden;}
.index_gzf02 a{ width:100px; line-height:28px; height:28px; text-align:center; display:block; overflow:hidden; border:#e7e7e7 solid 1px; color:#6b6b6b; font-size:14px; margin:0 11px 11px 0; float:left;}
.index_gzf02 a:hover{ border:#212226 solid 1px; color:#212226; }

.index_gzf03{ padding:21px 0 0; overflow:hidden;}

.index_gzf04{ float:left; width:488px; height:488px; background:#f3f3f3; text-align:center;}
.index_gzf04 img{ height:100%; max-width:100%;}
.index_gzf04:hover img{}
.index_gzf05{ overflow:hidden;}
.index_gzf05 ul li{ float:left; width:250px; height:250px; overflow:hidden;background:#f3f3f3; margin: 0 0 0 8px; text-align:center;}
.index_gzf05 ul li img{ height:100%; max-width:100%;}
.index_gzf06{ float:left;background:#f3f3f3; width:506px; height:230px; margin:9px 0 0 8px; text-align:center;}
.index_gzf06 img{ height:100%; max-width:100%;}





/***********案例展示***********/
.index_case{ height:484px; padding-top:56px;}

.index_case01{ width:1004px; margin:0 auto;}
.index_case02{  overflow:hidden;}
.index_case02 dl{ position:relative; float:left; width:200px; margin:0 25px; cursor:pointer;}
.index_case02 dl dt{ width:200px; height:200px; background: #f3f3f3; overflow:hidden; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; -webkit-border-radius:50%;border-radius:50%;}
.index_case02 dl dt img{ height:100%; max-width:100%; margin:0 auto; display:block;}
.index_case02 dl dd{ font-size:16px; color:#212226; text-align:center; line-height:49px; height:49px; overflow:hidden;}

.index_case03{ display:none; position:absolute; width:198px; height:198px; top:0; left:0; border:#212226 solid 1px; background:url(../images/case10.png) repeat;-moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; -webkit-border-radius:50%;border-radius:50%; text-align:center;}
.index_case03 img{ margin-top:75px;}


/****/
.slideBox02{ width:1004px; height:296px; ove/rflow:hidden; position:relative; margin:40px auto 0;}
.slideBox02 .hd{ display:none; height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox02 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox02 .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox02 .hd ul li.on{ background:#f00; color:#fff; }
.slideBox02 .bd{ position:relative; height:100%; z-index:0;   }
.slideBox02 .bd li{ zoom:1; vertical-align:middle; }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox02 .prev{ position:absolute; left:-90px; top:50%; margin-top:-75px; display:block; width:45px; height:45px; background:url(../images/jj03.png) no-repeat;}
.slideBox02 .next{ position:absolute; right:-90px; top:50%; margin-top:-75px;display:block; width:45px; height:45px;  background:url(../images/jj04.png) no-repeat;}
.slideBox02 .prev:hover,
.slideBox02 .next:hover{ filter:alpha(opacity=50);opacity:.5;}
.slideBox02 .prevStop{ display:none;  }
.slideBox02 .nextStop{ display:none;  }



/***********广告区域***********/
.index_gg{ height:552px;}
.index_gg01{ width:1004px; margin:0 auto;}
.index_gg02{ padding:352px 0 0 253px;}
.index_gg02 a{ display:block;width:158px; height:38px; line-height:38px; text-align:center; border:#656565 solid 1px; color:#fff; font-size:14px;}
.index_gg02 a:hover{ border:#fff solid 1px;}




/***********关于我们***********/
.index_gy{ height:540px;}
.index_gy01{ width:1004px; margin:0 auto;}
.index_gy02{ float:left; width:488px; height:365px; text-align:center; margin:94px 0 0 34px; background:#f2f2f2;}
.index_gy02 img{ height:100%; max-width:100%;}

.index_gy03{ float:left; width:390px; padding:95px 0 0 35px;}
.index_gy04{ font-size:14px; line-height:20px; color:#6b6b6b; border-bottom:#a6a7a8 dotted 1px; height:84px;}
.index_gy04 span{ display:block; color:#313136; font-size:26px; padding:0 0 12px;}
.index_gy05{ font-size:14px; line-height:30px; height:180px; overflow:hidden; color:#313136; margin-top:15px;}
.index_gy06{ padding-top:17px;}
.index_gy06 a{ text-align:center; font-size:14px; color:#6b6b6b; display:block; width:156px; height:36px; line-height:36px; border:#dcdcdc solid 2px;}
.index_gy06 a:hover{ color:#222; border:#222 solid 2px;}



.index_gy07{ padding-top:31px;}
.index_gy07 a{ margin:0 auto; width:156px; height:36px; color:#6b6b6b; text-align:center; font-size:14px;  line-height:36px;display:block;  border:#dcdcdc solid 2px;}
.index_gy07 a:hover{ border:#000 solid 2px; color:#000;}





/***********新闻资讯***********/
.index_news{ height:502px; padding-top:56px; }
.index_news01{ width:1004px; margin:0 auto;}

.index_news03{ overflow:hidden; width:103%;}
.index_news03 dl{ float:left; cursor:pointer; position:relative;height:142px; width:492px; background:#fff; margin:0 20px 21px 0; -moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.index_news03 dl dt{ float:left; width:154px; height:115px; overflow:hidden; background:#f3f3f3; margin:14px 0 0 14px;}
.index_news03 dl dt img{ height:100%; max-width:100%; margin:0 auto; display:block;}
.index_news03 dl dd{ float:left; width:297px; font-size:14px; color:#6b6b6b; line-height:25px; padding:29px 0 0 14px;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.index_news03 dl dd span{ display:block; font-size:20px; color:#313136; height:25px; margin-bottom:7px; overflow:hidden;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}

.index_news03 dl:hover{ background:#212226;}
.index_news03 dl:hover dd{ color:#fff;}
.index_news03 dl:hover dd span{ color:#fff;}

.index_news04{}
.index_news04 a{ margin:0 auto; width:158px; height:38px; color:#222; text-align:center; font-size:14px;  line-height:38px;display:block;  border:#676b70 solid 1px;}
.index_news04 a:hover{ border:#000 solid 1px; color:#000;}


/****/
.slideBox01{ width:1004px; height:325px; ove/rflow:hidden; position:relative; margin:28px auto 0;}
.slideBox01 .hd{ display:none; height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox01 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox01 .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox01 .hd ul li.on{ background:#f00; color:#fff; }
.slideBox01 .bd{ position:relative; height:100%; z-index:0;   }
.slideBox01 .bd li{ zoom:1; vertical-align:middle; }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox01 .prev{ position:absolute; left:-59px; top:50%; margin-top:-30px; display:block; width:20px; height:53px; background:url(../images/jj01.png) no-repeat;}
.slideBox01 .next{ position:absolute; right:-59px; top:50%; margin-top:-30px;display:block; width:20px; height:53px;  background:url(../images/jj02.png) no-repeat;}
.slideBox01 .prev:hover,
.slideBox01 .next:hover{ filter:alpha(opacity=50);opacity:.5;}
.slideBox01 .prevStop{ display:none;  }
.slideBox01 .nextStop{ display:none;  }




/***********定做流程***********/
.index_lc{ height:234px; background:#f2f2f2; padding-top:38px; overflow:hidden;}
.index_lc01{ width:1004px; margin:0 auto;}
.index_lc02{ text-align:center; padding-top:31px;}


























